<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Lesson</title>
</head>
<body>
Add Lesson<br>
<form method="post" action="/lessons/add">
    Title:<input type="text" name="title"><br>
    Duration:<input type="date" name="duration"><br>
    Price:<input type="number" name="price"><br>
    StartDate:<input type="date" name="startDate"><br>
    Teacher: <input type="hidden" name="teacher_id" th:value="null"><br>

    <input type="submit" value="Add">
</form>
</body>
</html>