<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lessons</title>
</head>
<body>
<th:block th:include="/fragment/headerFragment::userInfo"></th:block><br>
Add lesson | <a th:if="${currentUser != null && currentUser.userType.name() == 'TEACHER'}" href="/lessons/add">add</a>
<table border="2px">
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>duration</th>
        <th>price</th>
        <th>start date</th>
        <th>user Name</th>
        <th>update</th>
        <th>delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson:${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.title}"></td>
        <td th:text="${lesson.duration}"></td>
        <td th:text="${lesson.price}"></td>
        <td th:text="${lesson.startDate}"></td>
        <td>
            <span th:if="${lesson.teacher != null}" th:text="${lesson.teacher.name}"></span>
        </td>
        <td><a th:if="${currentUser.userType.name() == 'TEACHER'}" th:href="@{'/lessons/update/'+ ${lesson.id}}">update</a></td>
        <td><a th:if="${currentUser.userType.name() == 'TEACHER'}" th:href="@{'/lessons/delete/'+ ${lesson.id}}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>