<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
Add Student | <a href="/students/add">add</a>
<table border="2px">
    <thead>
    <tr>
        <th>id</th>
        <th>picture</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>lesson</th>
        <th>update</th>
        <th>Delete</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="student:${students}">
        <td th:text="${student.id}"></td>
        <td>
            <img th:if="${student.getPicName()!=null}" th:src="@{/getImage(picName=${student.picName})}" width="25px">
        </td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td th:text="${student.email}"></td>
        <td th:if="${student.lesson != null}" th:text="${student.lesson.title}"></td>

        <td><a th:href="@{'/students/update/'+ ${student.id}}">Update</a></td>
        <td><a th:href="@{'/students/delete/' + ${student.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>